.news {
  /*border: 1px solid green;*/
  width: 90%;
  margin: 5% auto;
  font-family: Arial;
}

.news__title {
  /*border: 1px solid black;*/
  margin: 1%;
  padding: 20px 5%;
  font-size: 40px;
}

/* Parent */
.news__carousel {
  /*border: 1px solid black;*/
  margin: 1%;
  font-size: 0;
}
.carousel__left {
  /*border: 1px solid blueviolet;*/
  width: 5%;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
}
.carousel__content {
  /*border: 1px solid blueviolet;*/
  width: 90%;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
}
.carousel__right {
  /*border: 1px solid blueviolet;*/
  width: 5%;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
}

.content__wrapper {
  border: 1px dotted red;
  width: 200%;
  font-size: 0;
}

/* Article Styles*/

.content__article {
  display: inline-block;
  width: 50%;
  border: 1px solid red;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 15px;
  margin-right: 2%;
}
.article__image {
  width: 100%;

  /*padding: 3%;*/
}

.article__title {
  padding: 3%;
}

.article__date {
  padding: 3%;
}
